.job-item-container {
    display: flex;
    align-items: center;

    .job-order-controls {
        display: flex;
        flex-direction: column;
    }
    .job-content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .job-item-details {
            margin-left: 1rem;
        }
    }
}
