.job-list-container {
    width: 50%;
}
.job-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 2rem;
    .add-job-btn {
        color: white;
        height: 2rem;
    }

}
